body, html, * {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: arial;
}

.landing {
  height: 100vh;
}

.app-container {
  position: absolute;
  left: 20%;
  top: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.btn {
  width: 80px;
  height: 40px;
  margin-bottom: 10px;
  background-color: #2ea745;
  border: none;
  color: #fff;
  font-size: 16px;
  font-family: arial;
}

.landing {
  background-image: -webkit-gradient(linear, right top, left bottom, from(#302b63), to(#0f0c29));
  background-image: linear-gradient(to bottom left, #302b63, #0f0c29);
}

.notes-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.cell {
  background-color: #ffffff;
  border: 1px solid #c1c1c1;
  height: 120px;
  width: 120px;
  -webkit-transition: ease-in-out 0.3s;
  transition: ease-in-out 0.3s;
}

.slider-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slider {
  margin: 30px 0;
  -webkit-appearance: none;
  width: 100%;
  height: 15px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  -webkit-transition: opacity .2s;
  transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  background: #2ea745;
  cursor: pointer;
}

.slider:hover {
  opacity: 1;
}

.images {
  position: absolute;
  left: -120px;
  top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.img {
  width: 120px;
  height: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.drum-img {
  background-image: url("/img/drum.png");
  background-size: contain;
  width: 80px;
  height: 80px;
}

.cymbal-img {
  background-image: url("/img/cymbal.png");
  background-size: contain;
  width: 80px;
  height: 80px;
}

.piano-img {
  background-image: url("/img/piano.png");
  background-size: contain;
  width: 80px;
  height: 80px;
}

.snail {
  background-image: url("/img/snail.png");
  background-size: contain;
  background-repeat: no-repeat;
  width: 40px;
  height: 40px;
  margin: 15px 10px 0 10px;
}

.rabbit {
  background-image: url("/img/rabbit.png");
  background-size: contain;
  background-repeat: no-repeat;
  width: 30px;
  height: 30px;
  margin: 0 10px;
}

@media only screen and (max-width: 950px) {
  .cell {
    height: 40px;
    width: 40px;
  }
}
/*# sourceMappingURL=style.css.map */